<ion-app>
  <ion-split-pane when="xxl" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Alfy</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-item
              lines="none"
              detail="false"
              *ngFor="let item of leftMenu(); let i = index"
              [routerLink]="item.link"
              (click)="setDomainOptions(item.link)"
            >
              <!-- <ion-icon slot="start" [name]="item.icon"></ion-icon> -->
              <ion-label>{{ item.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ title() }}</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <nav class="flex gap-4 px-4">
            @for (option of domainOptionsMenu(); track option.link) {
            <a [routerLink]="option.link" routerLinkActive="font-bold" [routerLinkActiveOptions]="{exact: true}">
              {{ option.label }}
            </a>
            }
          </nav>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>
