<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="text-lg font-bold text-center">{{ title() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    @if(this.data()) {
      <ion-label>
        <h3 class="text-lg font-bold">Lista</h3>
        <p>{{ getListLength() }} elementi</p>
      </ion-label>
    }
  </ion-item>
</ion-content>